#comment-input{
	width: 30%;
	padding: 12px 20px;
	margin: 8px 3px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: sienna;
	color: #fff2c2;
}

.add-comment-btn{
	background-color: sienna;
	color: #fff2c2;
	font-size: 16px;
	border-radius: 8px;
}

.add-comment-btn:hover {
	background-color: burlywood;
	color: sienna;
	cursor: pointer;
}

.page-number{
	margin-top: 3%;
	background-color: maroon;
	color: #fff2c2;
	font-size: 19px;
	border-radius: 7px;
}

.page-number:hover {
	background-color: #fff2c2;
	color: maroon;
	cursor: pointer;
}
