.dropdown-item:hover,
dropdown-item:active {
	background-color: #330000;
}

.menu-icon {
	display: block;
	position: absolute;
	top: -5px;
	left: 12%;
	transform: translate(-100%, 60%);
	font-size: 1.8rem;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff2c2;
	margin: 6px 0;
	transition: 0.4s;
}

.hidden {
	display: none;
}

.dropdown-menu,
.menu-item {
	list-style-type: none;
}

.menu-item {
	display: inline-block;
	text-align: center;
	margin-top: -10%;
}

.menu-item:hover,
.dropdown-menu:hover,
.search-icon:hover {
	cursor: pointer;
}

/* styling of button */
.login-btn {
	background-color: #fff2c2;
	right: 5%;
	top: 1.5%;
	width: 70px;
	height: 25px;
	margin-left: 100%;
}
.btn-warning,
.form-control {
	background-color: #fff2c2;
}
.col {
	display: flex;
	flex-direction: column;
}
/* ------------ */
.menu-item-filter,
.menu-item-sort {
	margin: auto;
	display: grid;
	position: relative;
	background-color: maroon;
}

.menu-item-filter:hover,
.menu-item-sort:hover,
.menu-item-filter:active,
.menu-item-sort:active {
	background-color: #330000;
}

.dropdown-menu {
	background-color: maroon;
	text-align: center;
	padding-right: 33px;
}

.search-label {
	display: none;
}

.search-icon {
	position: fixed;
	width: 40px;
	height: 40px;
	left: 27%;
	top: 15px;
	cursor: auto;
}

.recommendations{
	position: absolute;
	left: 20%;
	background-color: burlywood;
	color: #330000;
	list-style-type: none;
}

@media all and (max-width: 540px) {
	.search-icon {
		left: 17%;
		width: 9%;
		height: 5%;
	}
}

#search-input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 3px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff2c2;
	color: #330000;
}

@media all and (min-width: 990px) {
	.menu-icon,
	.search-icon {
		display: none;
	}

	.menu-item:hover,
	.dropdown-menu:hover,
	.search-label:hover {
		cursor: pointer;
	}

	.menu-item-filter:hover,
	.menu-item-sort:hover,
	.menu-item-filter:active,
	.menu-item-sort:active {
		background-color: maroon;
	}

	.menu-item {
		display: inline-block;
		text-align: center;
		margin-top: -10%;
		position: static;
	}

	.menu-item-filter {
		margin-right: 3%;
		margin-left: 1%;
	}

	.menu-item-sort {
		margin-left: 0%;
		margin-right: -8%;
	}

	.login-btn {
		background-color: #fff2c2;
		margin-top: 60px;
		position: absolute;
		right: 5%;
		top: 1.5%;
		width: 10%;
		height: 25px;
	}

	.dropdown-menu {
		position: absolute;
		background-color: maroon;
		text-align: left;
		padding-right: 33px;
	}

	.menu-item-label {
		margin-left: -10%;
		margin-right: 3%;
	}

	.search-label {
		display: block;
	}

	#search-input {
		padding: 12px 20px;
	}
	.recommendations{
		left: 10%;
	}

}

.nav-button:hover {
	cursor: pointer;
	background-color: rgb(7, 7, 7);
}
