.container {
	display: grid;
	grid-template-areas: "header header"
            "result result"
			"result result"
            "footer footer";
}

.header {
	text-align: center;
	height: 70px;
	background-color: maroon;
	color: blanchedalmond;
	font-size: larger;
	grid-area: header;
}

.footer{
	grid-area: footer;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: maroon;
	color: blanchedalmond;
	text-align: center;
}

.result-container{
	grid-area: result;
	border-radius: 3px;
	background-color: antiquewhite;
	width: 93%;
	height: 100%;
	margin: 30px auto 70px auto;
	overflow: auto;
}

.one-article{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	text-align: justify;
	background-color: #fff2c2;
}


@media all and (max-width: 990px) {
	.container {
		display: grid;
		grid-template-areas: "header header"
            "result result"
			"result result"
            "footer footer";
	}
}
